@model RegisterModel
@{
    ViewData["Title"] = "OrganizationSignUp";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/loginpage/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/loginpage/css/style.css">
}
<div class="container">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="POST" class="register-form" id="register-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Address"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Address" placeholder="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Code"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Code" placeholder="Code" />
                </div>
                <div class="form-group">
                    <label asp-for="About"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="About" placeholder="About" />
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="PostalCode" placeholder="Postal Code" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                    <input type="email" asp-for="Email" placeholder="Your Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" asp-for="Password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your password" />
                </div>
                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                </div>
                <div class="form-group form-button">
                    <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                </div>
            </form>
        </div>
        <div class="signup-image">
            <figure><img src="/loginpage/images/signup-image.jpg" alt="sing up image"></figure>
            <a href="#" class="signup-image-link">I am already member</a>
        </div>
    </div>
</div>
@section scripts{
    <script src="/loginpage/vendor/jquery/jquery.min.js"></script>
    <script src="/loginpage/js/main.js"></script>
}
@*<div class="row">
    <div class="col-md-4">*@
        @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>*@
    @*</div>*@
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
@*</div>*@




